@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

/* This file is for your main application CSS */

/* This file is for your main application CSS */

html {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  background-color: rgb(241, 245, 249);
  background-size: cover;
  min-height: 100%;
  padding: 0;
  overflow-x: hidden;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ff99da;
  background-image: radial-gradient(
      at 32% 15%,
      hsla(295, 60%, 77%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 51% 60%, hsla(264, 90%, 67%, 1) 0px, transparent 50%),
    radial-gradient(at 85% 85%, hsla(275, 88%, 64%, 1) 0px, transparent 50%),
    radial-gradient(at 72% 62%, hsla(269, 97%, 68%, 1) 0px, transparent 50%),
    radial-gradient(at 4% 38%, hsla(218, 87%, 61%, 1) 0px, transparent 80%);
}
